
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments :: head(title ='Product Page')"></th:block>
<body>
<!-- Body content goes here -->
<th:block th:replace="fragments :: header"></th:block>

<th:block th:replace="fragments :: sidebar"></th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Products</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Product Management</li>
                <li class="breadcrumb-item active">Products</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Header Section for Adding Products -->
    <div class="mb-4 d-flex justify-content-between">
        <a th:href="@{/admin/addproduct}" class="btn btn-primary">Add Product</a>
        <a href="/bulk-upload" class="btn btn-secondary">Bulk Upload</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock Quantity</th>
            <th scope="col">Ratings</th>
            <th scope="col">Category</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <th scope="row" th:text="${product.product_id}"></th>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.stockQuantity}"></td>
            <td th:text="${product.ratings}"></td>
            <td th:text="${product.category.name}"></td>
            <td>
                <img th:src="@{'/images/products/' + ${product.productImage}}"
                     alt="Product Image"
                     class="img-fluid"
                     style="max-width: 50px; max-height: 50px;">
            </td>
            <td>
                <a th:href= "@{/admin/viewproduct/{id}(id=${product.product_id})}" class="btn btn-warning btn-sm">view</a>
                <a th:href="@{/admin/deleteproduct/{id}(id=${product.product_id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


</main><!-- End #main -->


<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>
