<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments :: head(title ='Order Page')"></th:block>
<body>
<!-- Body content goes here -->
<th:block th:replace="fragments :: header"></th:block>
<th:block th:replace="fragments :: sidebar"></th:block>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Users</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Order management</li>
                <li class="breadcrumb-item active">orders</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Orders Management</h5>

                <!-- Table with stripped rows -->
                <table class="table table-striped datatable">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <th scope="row" th:text="${order.order_id}">1</th> <!-- Changed to order_id -->
                        <td th:text="${order.totalAmount}">$100.00</td> <!-- Changed to totalAmount -->
                        <td th:text="${#dates.format(order.timeStamp, 'yyyy-MM-dd HH:mm a')}">2024-01-01 10:00 AM</td> <!-- Changed to timeStamp -->
                        <td>
                            <a th:href="@{'/admin/orders/' + ${order.order_id}}" class="btn btn-info btn-sm">View Details</a> <!-- Changed to order_id -->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>
    </section>
</main><!-- End #main -->

<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>
